<template>
  <div>
    <script>
      document.addEventListener("keydown", function (e) {
      if (e.which === 123) {
      require('remote').getCurrentWindow().toggleDevTools();
      } else if (e.which === 116) {
      location.reload();
      }
      });
    </script>
    <nav class="navbar navbar-light bg-light">
      <div class="container-fluid">
        <a 
          class="navbar-brand" 
          href="/">Home</a>
      </div>
    </nav>
    <nuxt/>
  </div>
</template>
<script>
export default {
  head() {
    return {
      meta: [
        { hid: 'default', name: 'viewport', content: "width=device-width, initial-scale=1" }
      ]
    }
  }
}
</script>
